@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;display=swap&amp;subset=cyrillic-ext");

//Change BS body font size
$font-size-base: 1.6rem;
//Change BS spacer
$spacer: 1.6rem;
//Change modal animation
$modal-fade-transform: scale(.8);

// Colors
$primary: #FF5959;
$secondary: #6666cc;

//Import Bootstrap SCSS
@import "../bootstrap/scss/bootstrap";
//Import colors from colors.scss
@import 'colors';

//Typography
$opensans-font-stack: "Open Sans",
sans-serif;
$poppins-font-stack: "Poppins",
sans-serif;

html {
    font-size: 62.5%;
}

body {
    font: 1.6rem $opensans-font-stack;
    @include color-assign(color, text);
    @include color-assign(background-color, surface);
    transition: background-color 0.2s ease;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include color-assign(color, heading);
    font-family: $poppins-font-stack;
    font-weight: 700;
}

.text-black {
    @include color-assign(color, heading);
}

//Container 
.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@include media-breakpoint-up(lg) {
    .container {
        max-width: 970px;
        padding-right: 0;
        padding-left: 0;
    }

}

@include media-breakpoint-up(xl) {
    .container {
        max-width: 1170px;
    }

}

//Main content container 
.main-content {
    margin-left: 0;
    width: 100%;
}


@include media-breakpoint-up(lg) {
    .main-content {
        margin-left: auto;
        width: 675px;
    }
}

@include media-breakpoint-up(xl) {

    .main-content {
        width: 875px;
    }
}


//Buttons
.btn {
    font-family: $poppins-font-stack;
    font-weight: 400;
    border-radius: 100px;
    padding: .8em 1.2em;
    transition: all 0.3s ease-in-out;

    span[class*='icon-'] {
        margin-right: 1rem;
        vertical-align: middle;
    }
}

.btn-primary {
    color: $white;

    &:hover,
    &:focus {
        background: $primary;
        color: #FFF;
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
    }
}

.btn-outline-light {
    color: $white;

    &:hover,
    &:focus {
        color: $secondary;
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
    }
}

.close {
    position: relative;
    padding: 0;
    background-color: $white;
    border: 0;
    opacity: 1;
    color: $primary;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    z-index: 9999;

    span {
        vertical-align: middle;
    }
}

//Helpers
.push {
    transform: translateX(29.5rem);
    // touch-action: pan-y;
}

.section-shadow {
    box-shadow: 0rem .6rem 1.5rem 0rem rgba(0, 0, 0, 0.2);

}

.dot::after {
    content: ".";
    color: $primary;
    display: inline-block;
    margin-left: .2rem;
    font-size: 1em;
}

.slide-animate {
    transition: transform 0.3s ease-in-out;
}

//Sections
%section {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 8rem 5rem;
}

.section.purple {
    @extend %section;
    @include color-assign(background-color, secondary);
}

.section.white {
    @extend %section;
    @include color-assign(background-color, background);
}

.section-gap {
    margin-top: $spacer * 4;
}

.section-title::after {
    content: "";
    background-color: $primary;
    border-radius: 30px;
    display: block;
    height: .5rem;
    margin-top: 1.4rem;
    width: 3rem;
}

//Mobile Nav Header
.mobile-nav {
    @include color-assign(background-color, secondary);
    border-radius: 20px;
    transition: all 0.3s ease-in-out, color .1ms;

    .navbar-toggler {
        box-shadow: none;
        vertical-align: middle;
        padding: 0;

        &:focus {
            outline: $primary solid 2px;
        }

        span {
            display: block;
            background: $white;
            border-radius: 10px;
            height: .4rem;
            width: 2.5rem;
        }

        span:nth-child(2) {
            margin-top: .4rem;
            margin-bottom: .4rem;
        }
    }
}

//Side Nav
.side-nav {
    position: fixed;
    border-radius: 20px;
    @include color-assign(background-color, secondary);
    color: #FFF;
    min-height: 62rem;
    max-height: 62rem;
    width: 26.5rem;
    top: 2.4rem;
    overflow: hidden;
    transform: translateX(-38rem);
    transition: all 0.3s ease-in-out;

    // &.collapsing.show {
    //     transform: translateX(0);
    //     transition: all 0.3s ease-in-out;
    // }

    &.show {
        transform: translateX(0);
    }

    .site-slogan {
        font-size: 1.2rem;
    }

    .nav .nav-link {
        color: $white;
        font-family: $poppins-font-stack;
        display: block;
        padding-left: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            margin-left: .5rem;
        }

        &.active::before {
            content: "";
            background: $primary;
            display: block;
            height: 1.8rem;
            left: -2.4rem;
            top: .7rem;
            position: absolute;
            width: .3rem;
        }
    }

    // Dark mode toggle
    .toggle {

        label {
            position: relative;
            display: block;
            width: 6rem;
            height: 3rem;
            border-radius: 100px;
            background-color: #000839;
            overflow: hidden;
            cursor: pointer;

            &:before,
            &:after {
                display: block;
                position: absolute;
                content: "";
                width: 2.2rem;
                height: 2.2rem;
                border-radius: 50%;
                top: .4rem;
                left: .6rem;
                transition: 0.5s ease;
            }

            &:before {
                background-color: #ffa41b;
            }

            &:after {
                background-color: #000839;
                left: -3rem;
                transform: scale(0.00001);
            }
        }

        input[type="checkbox"] {
            opacity: 0;

            &:checked+label:before {
                background-color: #fff;
                transform: translateX(2.6rem);
            }

            &:checked+label:after {
                transform: translateX(5.3rem) scale(1);
            }

            &:focus+label {
                outline: $primary auto 5px;
            }
        }
    }

    .social-icon {
        background-color: $primary;
        cursor: pointer;
        border-radius: 50%;
        display: block;
        height: 3rem;
        width: 3rem;
        line-height: 2.7rem;
        text-align: center;

        a span {
            color: $white;
        }

        &:hover,
        &:focus {
            background-color: $white;

            a span {
                color: $primary;
            }
        }
    }

}

@include media-breakpoint-up(lg) {
    .side-nav {
        top: 4.8rem;
        transform: translateX(0);
    }
}

//Hero section
.hero-title {
    @include font-size(6rem);
}

//Skills
.skill-items li::after {
    content: " | ";
    font-weight: 700;
    color: $primary;
}

.skill-items li:last-child:after {
    content: "";
}

//Experience
//Credit style to https://codepen.io/TajShireen/pen/JjGvVzg
.timeline {
    border-radius: 12px;
    position: relative;

    li {
        padding-bottom: 1.5rem;
        border-left: 1px solid rgba($primary, .5);
        position: relative;
        padding-left: 2rem;
        margin-left: 1rem;

        &:last-child {
            border: 0px;
            padding-bottom: 0;
        }

        &:before {
            content: '';
            width: 15px;
            height: 15px;
            @include color-assign(background-color, background);
            @include color-assign(border, primary, '1px solid here');
            border-radius: 50%;
            position: absolute;
            left: -.8rem;
            top: 0px;
        }
    }

    .date {
        font-size: 1.2rem;
    }

    .title {
        font-family: $poppins-font-stack;
        font-weight: 500;
    }

    p {
        //line-height: 1.5;
        margin-top: 0.4rem;
    }

}

//Works
.portfolio-item:nth-child(odd) {
    padding-right: 1rem;
}

.portfolio-item:nth-child(even) {
    padding-left: 1rem;
}

.portfolio-item {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out, color .1ms;

    .thumb {
        overflow: hidden;
        border-radius: 20px;

        img {
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            object-fit: cover;
            border-radius: 20px;
            box-shadow: 0px .6rem 1.5rem 0px rgba(0, 0, 0, 0.15);
        }
    }

    .details {
        color: $white;
        margin-top: 1.5rem;
        width: 100%;
        z-index: 1;

        .title {
            color: $white;
            margin: 0 0 .4rem;
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        }

        .info {
            font-size: 1.4rem;
            display: block;
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
        }
    }

    .plus-icon {
        color: $primary;
        background: #FFF;
        border-radius: 100%;
        position: absolute;
        left: 2.5rem;
        bottom: 2.5rem;
        opacity: 0;
        line-height: 3rem;
        text-align: center;
        height: 3rem;
        width: 3rem;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    .mask {
        background: $primary;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    &:hover {

        img {
            transform: scale(1.1);
        }
    }

}

a:focus .portfolio-item {

    img {
        transform: scale(1.1);
    }

}

@include media-breakpoint-up(lg) {
    .portfolio-item {
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0px .6rem 1.5rem 0px rgba(0, 0, 0, 0.15);

        .thumb {

            img {
                transform: scale(1);
                transition: all 0.3s ease-in-out;
                object-fit: cover;
                border-radius: 20px;
                box-shadow: 0px .6rem 1.5rem 0px rgba(0, 0, 0, 0.15);
            }
        }

        .details {
            position: absolute;
            padding: 0 2.5rem;
            top: 2.5rem;
            margin-top: 0;

            .title {
                opacity: 0;
                transform: translateY(3rem);
            }

            .info {
                opacity: 0;
                transform: translateY(4rem);

            }
        }

        &:hover,
        &:focus {

            .mask {
                opacity: 0.9;
            }

            .details .title,
            .details .info {
                opacity: 1;
                transform: translateY(0);
            }

            .plus-icon {
                opacity: 1;
            }
        }

    }

    a:focus .portfolio-item {

        .mask {
            opacity: 0.9;
        }

        .details .title,
        .details .info {
            opacity: 1;
            transform: translateY(0);
        }

        .plus-icon {
            opacity: 1;
        }

    }
}

.portfolio-modal {

    .modal-dialog .modal-content {
        padding: 5rem;
        @include color-assign(background-color, background);

        .portfolio-info {
            font-size: 1.4rem;

            span {
                color: $primary;
            }
        }

        .modal-body {
            padding: 0;

            img {
                box-shadow: 0px .6rem 1.5rem 0px rgba(0, 0, 0, 0.15);
            }

            .portfolio-content {
                font-size: 1.4rem;

                p {
                    margin-bottom: 1.5rem;
                    line-height: 1.5;
                }

                .strong {
                    color: $primary;
                    font-weight: bold;
                }
            }
        }

    }
}


@include media-breakpoint-up(lg) {
    .modal-content {
        border-radius: 20px;
        border: none;
    }
}

//Contact
.contact-info span {
    font-size: 2rem;
    color: $primary;
}

//Go to top
.return-to-top {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: rgba(0, 0, 0, 0.3);
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    border-radius: 50%;
    z-index: 4;
    transition: all 0.3s ease-in-out;

    span {
        color: #fff;
        margin: 0;
        position: relative;
        left: 1.5rem;
        top: 1.5rem;
        font-size: 2rem;
        transition: all 0.1s ease-in-out;
    }

    &:hover,
    &:focus {
        background: $primary;
        transform: translateY(-3px);
        box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.2);
    }
}