@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&amp;display=swap&amp;subset=cyrillic-ext");

// Colors
//Light
$primary: #FF5959;
$secondary: #6666cc;
$surface: #F6F7FF;
$text: #888;

//Import Bootstrap SCSS
@import "../bootstrap/scss/bootstrap";

//Typography
$opensans-font-stack: "Open Sans", sans-serif;
$poppins-font-stack: "Poppins", sans-serif;

html {
    font-size: 16px;
}

body {
    font: 1rem $opensans-font-stack;
    color: $text;
    background-color: $surface;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $poppins-font-stack;
  font-weight: 700;
}

//Helpers
.push {
    transform: translateX(295px);
    // touch-action: pan-y;
}

.shadow {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 20%);
}

 %dot {
    content: "";
    background-color: $primary;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
 }

.slide-animate {
    transition: all 0.3s ease-in-out;
}

//Sections
%section {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 50px;
}

.section.blue {
    @extend %section;
    background-color: $secondary;
}

.section.white {
    @extend %section;
    background-color: $surface;
}

.section h1 .dot:after {
    @extend %dot;
    height: 13px;
    width: 13px;
}

//Mobile Nav Header
.mobile-nav {
    background: $secondary;
    border-radius: 20px;
    // -webkit-transform: translateX(0);
    // -moz-transform: translateX(0);
    // -ms-transform: translateX(0);
    // -o-transform: translateX(0);
    // transform: translateX(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    .navbar-toggler {
        outline: none;
        box-shadow: none;

        span {
            display: block;
            background: $white;
            border-radius: 10px;
            height: 4px;
            width: 25px;
        }

        span:nth-child(2) {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

//Side Nav
.side-nav {
    position: fixed;
    border-radius: 20px;
    background-color: $secondary;
    color: #FFF;
    min-height: 620px;
    max-height: 620px;
    width: 265px;
    top: 1.5rem;
    overflow: hidden;
    transform: translateX(-380px);

    &.collapse.show{
        transform: translateX(0);
        transition: all 0.3s ease-in-out;
    }

    .btn-close {
        z-index: 9999;
    }

    .site-slogan {
        font-size: .8rem;
    }

    .nav .nav-link{
        color: $white;
        font-family: $poppins-font-stack;
        display: block;
        padding-left: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            margin-left: 5px;
        }
    }

    // Dark mode toggle
    .toggle {
        margin-top: 10px;

        label {
            position: relative;
            display: block;
            width: 60px;
            height: 30px;
            border-radius: 100px;
            background-color: #000839;
            overflow: hidden;
            cursor: pointer;
    
            &:before,
            &:after {
              display: block;
              position: absolute;
              content: "";
              width: 22px;
              height: 22px;
              border-radius: 50%;
              top: 4px;
              left: 6px;
              transition: 0.5s ease;
            }
    
            &:before {
                background-color: #ffa41b;
            }
              
            &:after {
                background-color: #000839;
                left: -30px;
                transform: scale(0.00001);
            }
          }
          
          input[type="checkbox"] {
            display: none;
    
            &:checked+label:before {
                background-color: #fff;
                transform: translateX(26px);
            }
              
            &:checked+label:after {
            transform: translateX(53px) scale(1);
            }
        }
    }

    .social-icon {
        color: $white;
        background: $primary;
        border-radius: 50%;
        display: block;
        height: 2em;
        width: 2em;
        line-height: 1.8rem;
        text-align: center;
    }

    span.dot::after {
        @extend %dot; 
        height: 6px;
        width: 6px;   
    }
    
}    

//About section
.intro-title {
    @include font-size(6rem);
  }
  

