@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

/*Font*/
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 17pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {

  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {

  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

/*Body*/
body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

/* nav */
.navbar {
  background-color: rgba(247, 247, 247, 0.9)
}

.nav-item {
  margin-left: .5em;
  color: #636363;
}

.nav-pills .nav-link {
  border-radius: .5em;
}

.nav-item:hover {
  background-color: rgba(204, 204, 204, 0.3);
  color: #636363;
}

.nav-pills .nav-link.active {
  background-color: #fff;
  color: #636363;
}

/*main*/
.main {
  padding-top: 75px;
}

/*Intro*/
.intro {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 2em 0;
}

.intro header.major {
  margin: 0 0 2em 0;
}

.intro .about {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro .me {
  display: inline-block;
  margin-left: 4em;
  padding: 0.65em;
  border-radius: 100%;
  border: solid 1px;
}

.intro .me img {
  display: block;
  border-radius: 100%;
  width: 16em;
}

@media screen and (max-width: 980px) {
  .intro {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro .content {
    -moz-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
  }

  .intro .content header.major h2:after {
    margin-left: auto;
    margin-right: auto;
  }

  .intro .me {
    -moz-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: 0;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 736px) {
  .intro .me {
    padding: 0.35em;
  }

  .intro .me img {
    width: 12em;
  }
}

.intro .me {
  border-color: rgba(255, 255, 255, 0.35);
}
