@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*Font*/
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {

  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {

  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {

  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

/*Animate*/
.animate {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*body*/
body {
  position: relative;
}

/* nav */
.navbar {
  background-color: rgba(255, 255, 255, 0.95)
}

.nav-item {
  margin-left: .5em;
  color: #636363;
  font-size: 18px;
}

.nav-item:hover {
  color: black;
}

.nav-link.active {
  color: #6666CC;
  border-bottom: 3px solid #6666CC;
  bottom: -6px;
}

@media screen and (max-width: 736px) {
  .navbar {
    display: none;
  }

  .navbar+body {
    padding-top: 0;
  }
}

/*main*/
.main {
  padding-top: 75px;
}

/*Button*/
.btn {
  color: #6666CC;
  border-color: #6666CC;
}

.btn:hover {
  color: white;
  background-color: #6666CC;
  border-color: #6666CC
}

/*header*/
.intro header {
  margin: 0 0 2em 0;
}

.special h2 {
  text-align: center;
  margin: 0 0 2em 0;
}

ul {
  list-style: none;
}

/* .special {
  line-height: 1.5em;
  position: relative;
} */
/* .special h2:after {
  display: block;
  position: absolute;
  content: '';
  height: 2px;
  width: 3.25em;
  margin: 0 2%;
  left: 678px;
  border: 1px solid;
  border-radius: 2px;
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: -webkit-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: -ms-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: linear-gradient(90deg, #192942, #325182, #5388db);
} */
/*Intro*/
.intro {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0 0 2em 0;
}

.intro .content {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.intro .me {
  display: inline-block;
  margin-left: 4em;
  padding: 0.65em;
  border-radius: 100%;
  border: solid 1px;
}

.intro .me img {
  display: block;
  border-radius: 100%;
  width: 16em;
}

@media screen and (max-width: 980px) {
  .intro {
    -moz-flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro .content {
    -moz-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
  }

  .intro .me {
    -moz-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: 0;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 736px) {
  .intro .me {
    padding: 0.35em;
  }

  .intro .me img {
    width: 12em;
  }
}

.intro .me {
  border-color: rgba(255, 255, 255, 0.35);
}

/*Skills*/
.skills {
    text-align: center;
    margin: 5em 0 5em 0;
}

.skills ul li {
  display: inline;
}

.skills ul li::after {
  content: " | ";
  color: gray;
}

.skills ul li:last-child:after {
  content: " ";
}

.skills ul h5 {
  color: #6666CC;
}

.skills .btn {
  margin: 3em 0 0 0;
}

/*Project*/
.projects {
  margin: 5em 0 5em 0;
}
.project {
  /* -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 3px 3px 3px #ccc; */
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 3px;
  min-width: 100%;
  max-height: 251px;
}

.project-image {
  float: left;
}

.project-image img {
  width: 250px;
  height: auto;
  border-right: 1px solid black;
}

.project-info {
  margin: 20px 50px 0 280px;
  /* text-align: center; */
}

.info-content {
  margin-left: 10px;
}

.info-title {
  color: gray;
  display: inline-block;
  line-height: .1;
}

.project .btn{
  margin: 15px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .project {
    min-width: 100%;
    max-height: 400px;
  }
  .project-image {
    display: none
  }

  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }

}

/*Contact*/
.contact {
  margin: 5em 0 10em 0;
  text-align: center;
}

.contact ul li {
  display: inline;
  font-size: 20px;
}

.contact a {
  text-decoration: none;
  color: black;
}

.contact i {
  color: #6666CC;
}

.contact a:hover {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #6666CC;
}
