@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.main {
  margin-top: 80px;
}

/* Type */
body, input, select, textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 15pt;
  font-weight: 300;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

/* Section/Article */
section.special, article.special {
  text-align: center;
}

header.major {
  margin-bottom: 3em;
}

header.major h2 {
  font-size: 2em;
}

#main header.major h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: -webkit-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: -ms-linear-gradient(90deg, #192942, #325182, #5388db);
  background-image: linear-gradient(90deg, #192942, #325182, #5388db);
}

header.major h2:after {
  display: block;
  content: '';
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

section.special header.major h2:after, article.special header.major h2:after {
  margin-left: auto;
  margin-right: auto;
}

header.major p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}

header.major.special {
  text-align: center;
}

header.major.special h2:after {
  margin-left: auto;
  margin-right: auto;
}

footer.major {
  margin-top: 3em;
}

@media screen and (max-width: 736px) {
  header.major {
    margin-bottom: 0;
  }

  header.major h2 {
    font-size: 1.5em;
  }

  header.major p {
    font-size: 1em;
    letter-spacing: 0;
  }

  header.major p br {
    display: none;
  }

  footer.major {
    margin-top: 0;
  }
}

header.major h2:after {
  background-color: rgba(255, 255, 255, 0.35);
}

/* Nav */
#nav {
  -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
  cursor: default;
}

#nav ul li {
  -moz-transition: margin 0.2s ease;
  -webkit-transition: margin 0.2s ease;
  -ms-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
  display: inline-block;
}

#nav ul li a {
  -moz-transition: font-size 0.2s ease;
  -webkit-transition: font-size 0.2s ease;
  -ms-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
  font-size: 0.9em;
  color: black;
  margin-right: .5em;
}

#nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#nav ul li a.active {
  background-color: #ffffff;
  box-shadow: none;
}

@media screen and (max-width: 760px) {
  #nav {
    margin-top: .5em;
  }
