    body {
      color: #414141;
      font-weight: 100;
      height: 100%;
      background-color: #eee;
    }

    .container {
      height: 100%;
    }

    .search {
      padding: 1em;
    }
 
    .weather-info {
      position: absolute;
      background: #fff;
      border-radius: 10px;
      margin: 5em 0 0 0;


      -webkit-box-shadow: 5px 5px 10px 0px rgba(117,117,117,.5);
      -moz-box-shadow: 5px 5px 10px 0px rgba(117,117,117,.5);
      box-shadow: 5px 5px 10px 0px rgba(117,117,117,.5);

      box-shadow: black;
      /* width:    580px; */
      height:   170px;

    }

    @media (max-width: 575.98px) { 
      .weather-info {
        height: 200px;
      }
    }


    .cityName {
      position: absolute;
      top: 10px;
      left: 25px;
      font-size: 25px;
      font-weight: 400;
    }


    .temp {
      position: absolute;
      font-size: 40px;
      top: 10px;
      right: 25px;
    }


    .icon {
      position: absolute;
      top: 0px;
      right: 65px;

      width: 120px;
      height: auto;
    }

    /* .temp-value {
      position: absolute;
      top:25px;
      right: 160px;
    } */

    .feels {
      position: absolute;
      top: 70px;
      right: 30px;
      font-weight: 300;
    }

    .weather {
      position: absolute;
      top: 70px;
      left: 25px;
      font-weight: 500;
      text-transform: capitalize;
    }

    .timeRet {
      position: absolute;
      top: 45px;
      left: 25px;
    }

    .other-info {
      position: relative;
      top: 120px;
      font-weight: 300;
  
      
    }

    .other-info img {
      width: 50px;
      height: auto;

      padding: 0 10px 0 10px;
      

    }

    .error-message {
      color: red;
      text-align: center;
    }