@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
    
    body {
      font-family: 'Montserrat', sans-serif;
      color: #5a8482;
      font-weight: 100;
      height: 100%;
      background-color: #e0e5ec;
    }

    .container {
      height: 100%;
    }

    .search {
      padding: 1em;
    }

  /* @media (max-width: 575.98px) { 
    .search {
      padding-bottom: 2em;
    }
  } */

    input[type=text] {
      color: #5a8482;
      border: none;
      border-radius: 25px;
      background: linear-gradient(145deg, #f0f0f0, #e0e5ec);
      box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset  2px 2px 8px rgba(0,0,0,0.15);
      transition: background 2s;
    }

    input[type=radio] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark{
      height: 25px;
      width: 25px;
      color: #5a8482;
      border: none;
      border-radius: 25px;
      background: linear-gradient(145deg, #f0f0f0, #e0e5ec);
      box-shadow: -2px -2px 8px rgba(255,255,255,1),
      -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      2px 2px 8px rgba(0,0,0,0.15);
      transition: background 2s;

    }

    .custom-control-inline:hover input ~ .checkmark {
      box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset 2px 2px 8px rgba(0,0,0,0.15);
      cursor: pointer;
      transition: background 2s;
    }

    .custom-control-inline input:checked ~ .checkmark {
      box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset 2px 2px 8px rgba(0,0,0,0.15);
      transition: background 2s;
    }

    .custom-control-inline input:checked ~ .label  {
      font-weight: 600;
    }

    .label {
      margin-left: .5em;
    }


    .btn {
      color: #5a8482;
      border: none;
      border-radius: 25px;
      background: linear-gradient(145deg, #f0f0f0, #e0e5ec);
      box-shadow: -2px -2px 8px rgba(255,255,255,1),
      -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      2px 2px 8px rgba(0,0,0,0.15);
      transition: background 2s;
    }

    .btn::selection, .btn:hover {
      color: #5a8482;
      border: none;
      background-color: #e0e5ec;
      box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
      inset -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      inset 2px 2px 8px rgba(0,0,0,0.15);
    }

    .btn:focus {
      color: #5a8482;
      border: none;
      background: linear-gradient(145deg, #f0f0f0, #e0e5ec);
      box-shadow: -2px -2px 8px rgba(255,255,255,1),
      -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      2px 2px 8px rgba(0,0,0,0.15);
      
    }

    .btn:target {
      color: #414141;
      background-color: #e0e5ec;
      border: none;

      box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px rgba(255,255,255, 0.5);
    }


 
    .weather-info {
      position: relative;
      border-radius: 30px;
      margin: 5em 0 0 0;
      max-width: 620px;
      height: 170px;

      background: #e0e5ec;
      box-shadow: -2px -2px 8px rgba(255,255,255,1),
      -2px -2px 12px rgba(255,255,255,0.5),
      inset 2px 2px 4px rgba(255,255,255,0.1),
      2px 2px 8px rgba(0,0,0,0.15);

      transition: all 1s;
    }

    @media (max-width: 575.98px) { 
      .weather-info {
        margin-right: 1em;
        margin-left: 1em;
        height: 200px;
      }
    }

    @media (max-width: 330.98px) { 
      .weather-info {
        height: 220px;
        font-size: 14px;
      }

      .icon {
        display: none;
      }
    }

    .pre-animation {
      opacity: 0;
      max-height: 0;
    }


    .cityName {
      position: absolute;
      top: 10px;
      left: 25px;
      font-size: 25px;
      font-weight: 600;
    }


    .temp {
      position: absolute;
      font-size: 40px;
      font-weight: 400;
      top: 10px;
      right: 25px;
    }

    .hot .temp {
      color: #FD1818;
    }

    .warm .temp {
      color: #FD8B18;
    }

    .neutral .temp {
      color: #414141;
    }

    .cold .temp {
      color: #18B0FD;
    }

    .freeze .temp {
      color: #183EFD;
    }

    .icon {
      position: absolute;
      top: 0px;
      right: 65px;

      width: 120px;
      height: auto;
    }

    .feels {
      position: absolute;
      top: 70px;
      right: 30px;
      font-weight: 300;
    }

    .weather {
      position: absolute;
      top: 70px;
      left: 25px;
      font-weight: 600;
      text-transform: capitalize;
    }

    .timeRet {
      position: absolute;
      top: 45px;
      left: 25px;
    }

    .other-info {
      position: relative;
      top: 120px;
      font-weight: 300;
      padding: 0 .3em 0 .3em;
  
      
    }

    .other-info img {
      width: 50px;
      height: auto;
      padding: 0 10px 0 10px;

    }

    .error-message {
      color: red;
      text-align: center;
    }